@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap');

@font-face {
  font-family: "Calibri Regular";
  src: url("/src/Calibri\ Regular.ttf");
}

@font-face {
  font-family: "Calibri bold";
  src: url("/src/Calibri\ Bold.TTF");
  font-weight: bold;
}

.App {
  margin: 0;
  font-family: "Calibri Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}